<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <context-param>
        <param-name>DBUSER</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>DBPWD</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>DBURL</param-name>
        <param-value>jdbc:mysql://localhost/mysql_db</param-value>
    </context-param>


    <!--除了使用@WebListener注解外，监听器的第二种配置方法就是在web.xml中进行配置-->
<!--    <listener>-->
<!--        <listener-class>cn.bravedawn.listener.TempServletContextListener</listener-class>-->
<!--    </listener>-->

    <servlet>
        <servlet-name>MyFirstServlet</servlet-name>
        <servlet-class>cn.bravedawn.servlet.MyFirstServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MyFirstServlet</servlet-name>
        <url-pattern>/MyFirstServlet</url-pattern>
    </servlet-mapping>
    


</web-app>